.cardParent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    margin: 4px 0px;
}